//COLORS

$red: hsl(0, 100%, 67%);
$orange: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$pale-blue: hsl(221, 100%, 96%);
$blue: hsl(241, 81%, 54%);
$dark-blue: hsl(234, 85%, 45%);
$persian-blue: hsla(241, 72%, 46%, 0);
$ligh-purple: hsl(241, 100%, 89%);
$purple: hsl(252, 100%, 67%);
$purple-blue: hsla(256, 72%, 46%, 1);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 80%);
$dark-gray: hsl(0, 0%, 60%);
$dark-bluegray: hsl(224, 30%, 27%);

//FONT WEIGHTS

$plain: 400;
$semi: 700;
$bold: 800;